*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
keystore.properties
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
app/release/com.kkkkan.youtube-release.apk
app/release/output.json
.idea/codeStyles/Project.xml
.idea/caches/build_file_checksums.ser
